<!DOCTYPE html>
<html>
  <head>
    <title>Waq-Waq</title>
    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
    <%# <%= csrf_meta_tags %> 
    <%# <script type="text/javascript"> %>
      <%# WebFontConfig = { %>
        <%# google: { families: [ 'Unica+One::latin' ] } %>
      <%# }; %>
      <%# (function() { %>
        <%# var wf = document.createElement('script'); %>
        <%# wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + %>
          <%# '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js'; %>
        <%# wf.type = 'text/javascript'; %>
        <%# wf.async = 'true'; %>
        <%# var s = document.getElementsByTagName('script')[0]; %>
        <%# .parentNode.insertBefore(wf, s); %>
      <%# })(); %>
    <%# </script> %> 
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Waq-Waq</a></h1>
        <sub-title>思い出で「日本」を埋め尽くそう</sub-title>
        <div class="user_nav grid-6">
          <%# <a class="post" href="/tweets/new">投稿する</a> %>
        </div>
      </div>
    </header>


    <div class="japanese-archipelago">
      <div class="prefecture">

        <div class="hokkaido">
          <div class="hokkaido"><a href="/">北海道</a></div>
        </div>

        <div class="tohoku">
          <div class="upper">
            <div class="aomori"><a href="/">青森県</a></div>
          </div>
          <div class="center">
            <div class="left">
              <div class="akita"><a href="/">秋田県</a></div>
              <div class="yamagata"><a href="/">山形県</a></div>
            </div>
            <div class="right">
              <div class="iwate"><a href="/">岩手県</a></div>
              <div class="miyagi"><a href="/">宮城県</a></div>
            </div>
          </div>
          <div class="lowwer">
            <div class="fukushima"><a href="/">福島県</a></div>
          </div>
        </div>

        <div class="kanto">
          <div class="upper">
            <div class="gunma"><a href="/">群馬県</a></div>
            <div class="tochigi"><a href="/">栃木県</a></div>
            <div class="ibaraki"><a href="/">茨城県</a></div>
          </div>
          <div class="lower">
            <div class="left">
              <div class="saitama"><a href="/">埼玉県</a></div>
              <div class="tokyo"><a href="/">東京都</a></div>
              <div class="kanagawa"><a href="/">神奈川県</a></div>
            </div>
            <div class="right">
              <div class="chiba"><a href="/">千葉県</a></div>
            </div>
          </div>
        </div>

        <div class="chubu">
          <div class="upper">
            <div class="fukui"><a href="/">福井県</a></div>
            <div class="ishikawa"><a href="/">石川県</a></div>
            <div class="toyama"><a href="/">富山県</a></div>
            <div class="niigata"><a href="/">新潟県</a></div>
          </div>
          <div class="center">
            <div class="gifu"><a href="/">岐阜県</a></div>
            <div class="nagano"><a href="/">長野県</a></div>
            <div class="yamanashi"><a href="/">山梨県</a></div>
          </div>
            <div class="lowwer">
            <div class="aichi"><a href="/">愛知県</a></div>
            <div class="shizuoka"><a href="/">静岡県</a></div>

          </div>
        </div>

        <div class="kinki">
          <div class="left">
            <div class="hyogo"><a href="/">兵庫県</a></div>
          </div>
          <div class="right">
            <div class="upper">
              <div class="kyoto"><a href="/">京都府</a></div>
              <div class="shiga"><a href="/">滋賀県</a></div>
            </div>
            <div class="center">
              <div class="osaka"><a href="/">大阪府</a></div>
              <div class="nara"><a href="/">奈良県</a></div>
              <div class="mie"><a href="/">三重県</a></div>
            </div>
            <div class="lowwer">
              <div class="wakayama"><a href="/">和歌山県</a></div>
            </div>
          </div>
        </div>

        <div class="chugoku">
          <div class="left">
            <div class="yamaguchi"><a href="/">山口県</a></div>
          </div>
          <div class="center">
            <div class="shimane"><a href="/">島根県</a></div>
            <div class="hiroshima"><a href="/">広島県</a></div>
          </div>
          <div class="right">
            <div class="tottori"><a href="/">鳥取県</a></div>
            <div class="okayama"><a href="/">岡山県</a></div>
          </div>
        </div>

        <div class="shikoku">
          <div class="left">
            <div class="ehime"><a href="/">愛媛県</a></div>
            <div class="kochi"><a href="/">高知県</a></div>
          </div>
          <div class="right">
            <div class="kagawa"><a href="/">香川県</a></div>
            <div class="tokushima"><a href="/">徳島県</a></div>
          </div>
        </div>

        <div class="kyushu">
          <div class="upper">
            <div class="fukuoka"><a href="/">福岡県</a></div>
            <div class="saga"><a href="/">佐賀県</a></div>
            <div class="nagasaki"><a href="/">長崎県</a></div>
          </div>
          <div class="center">
            <div class="kumamoto"><a href="/">熊本県</a></div>
            <div class="oita"><a href="/">大分県</a></div>
          </div>
          <div class="lowwer">
            <div class="miyazaki"><a href="/">宮崎県</a></div>
            <div class="kagoshima"><a href="/">鹿児島県</a></div>
          </div>
          <div class="okinawa">
            <div class="okinawa"><a href="/">沖縄県</a></div>
          </div>
        </div>

      </div>
    </div>


    <%= yield %>

    
  </body>
</html>