!!!
 /%html
 .background
   %img src="image.３png" alt="尾道の写真" title="空と海"
   .head
   .body
     .title
       .__main
         %a Waq-waq
       .__sub
         %a 思い出で「日本」を埋め尽くそう

      .start
       .start__button
         = link_to (/) do
         .__button__name %Start

      .origin
       .＿_title
         %a Waq-Waqとは
       .__description
         %a 

 
 
 
 
 
 
        = yield
